@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
box-sizing: border-box;

}

body{
    font-family: 'Style Script', cursive;
    margin: 0%;
    background-color:rgb(14, 90, 100);
 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  
    margin: 0;
    }
h1{
    color:rgba(255, 255, 255, 0.651);
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

color: antiquewhite;


}
.big-text{

    font-size: 23px;
    line-height: 1;
    margin: 0 2rem;

}
.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

